<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmyxlf.mapper.bigPicture.ProductTurnoverMapper">

    <!--
        获得商品销售额大于 0 的所有商品
    -->
    <select id="getProductTurnover" resultType="productTurnover">
        select * from product where turnover>0
    </select>
</mapper>
