<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmyxlf.mapper.leftAndRight.CorrelationInformationMapper">
    <!--
        或取共用的临时表
    -->
    <sql id="newTable">
        select pro_name,collectors_counts,inquiry,traded,assess from product where
            start_batching*price &lt; 50000 order by start_batching*price
    </sql>

    <!--
        获取对分组后数据的收藏人数影响最大的临时信息
    -->
    <select id="getCollectorsCountsMax" parameterType="Integer" resultType="correlationInformation">
        select `name`,`value` from (select pro_name `name`,collectors_counts `value` from
            (<include refid="newTable"/>) new_table limit #{start},#{counts}) new_table1 order
            by `value` desc limit 1
    </select>

    <!--
        获取对分组后数据的询价人数影响最大的临时信息
    -->
    <select id="getInquiryMax" parameterType="Integer" resultType="correlationInformation">
        select `name`,`value` from (select pro_name `name`,inquiry `value` from (<include refid="newTable"/>)
            new_table limit #{start},#{counts}) new_table1 order by `value` desc limit 1
    </select>

    <!--
        获取对分组后数据的成交人数影响最大的临时信息
    -->
    <select id="getTradedMax" parameterType="Integer" resultType="correlationInformation">
        select `name`,`value` from (select pro_name `name`,traded `value` from (<include refid="newTable"/>)
            new_table limit #{start},#{counts}) new_table1 order by `value` desc limit 1
    </select>

    <!--
        获取对分组后数据的成交人数影响最大的临时信息
    -->
    <select id="getAssessMax" parameterType="Integer" resultType="correlationInformation">
        select `name`,`value` from (select pro_name `name`,assess `value` from (<include refid="newTable"/>)
            new_table limit #{start},#{counts}) new_table1 order by `value` desc limit 1
    </select>
</mapper>